/* globals.css */
@import "tailwindcss";

:root {
  /* Colors */
  --color-primary: 15 23 42;
  /* slate-900 */
  --color-secondary: 2 132 199;
  /* sky-600 */
  --color-accent: 74 222 128;
  /* emerald-400 */
  --color-danger: 239 68 68;
  /* red-500 */

  /* Typography */
  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
  /* --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif; */

  /* Spacing */
  --spacing-page: 2rem;

  --radius-lg: 1rem;
  --radius-sm: 0.375rem;

  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
}

@theme inline {
  /* Re-inject into Tailwind */
  --color-primary: rgb(var(--color-primary));
  --color-secondary: rgb(var(--color-secondary));
  --color-accent: rgb(var(--color-accent));
  --color-danger: rgb(var(--color-danger));


  --font-heading: var(--font-heading);
  --font-body: var(--font-body);


  --spacing-page: var(--spacing-page);

  --radius-lg: var(--radius-lg);
  --radius-sm: var(--radius-sm);

}

h1,
h2,
h3,
h4,
h5,
h6 {

  font-family: var(--font-heading);
}

body {
  background: var(--color-primary);
  /* color: var(--color-text); */
  font-family: var(--font-body);
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
